@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 40px;
}

.title {
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
}

.todo-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(173, 126, 218);
  padding-inline: 10px;
}

.todo-input:focus {
  outline: none;
}

.add-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
}

.add-button:hover {
  background-color: darkviolet;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(79, 33, 122);
}

.buttons button {
  padding: 10px;
  width: 100px;
  margin-left: 5px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-button:hover {
  background-color: darkviolet;
}

.counter {
  text-align: center;
  color: white;
  font-weight: bold;
}

.todo-items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(223, 191, 253);
  border-radius: 5px;
  margin-bottom: 10px;
}

.item span {
  width: 100%;
  padding-inline: 10px;
  font-size: 12pt;
  font-weight: 600;
}

.checked span {
  text-decoration: line-through;
  color: #524f52;
  font-weight: 300;
}

.delete-button {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 8pt;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

/* Checkbox */

:root {
  --form-control-color: rebeccapurple;
  --form-control-disabled: #959495;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
